<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat ROOM</title>
    <script src="/jquery-3.5.1.min (1).js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts.js"></script>
</head>
<body>
    <h1>Helo</h1>
</body>
</html>